In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

# **BLEND**

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
lgb_nacir = pd.read_csv('LGBM_Nacir/AKEED_LGBM_NACIR_FLOATS.csv')
lgb_ahmed = pd.read_csv('LGBM_AHMED/Akeed_LGB_ALL_DATA_Ahmed_Float_Preds.csv')
lgb_azer = pd.read_csv('LGBM_AZER/LGBM_without_categ_features_STABLE_FLOATS.csv')
xgb_azer = pd.read_csv('Xgboost/XGBOOST_FLOATS.csv')

In [ ]:
lgb_ahmed.sort_values(by='CID X LOC_NUM X VENDOR',inplace=True)
lgb_ahmed.reset_index(drop=True,inplace=True)
lgb_ahmed.head(1)

  CID X LOC_NUM X VENDOR    target
0      000IPH5 X 0 X 104  0.176987

In [ ]:
lgb_azer.rename(columns = {'preds_test':'target'},inplace=True)
lgb_azer.sort_values(by='CID X LOC_NUM X VENDOR',inplace=True)
lgb_azer.reset_index(drop=True,inplace=True)
lgb_azer.head(1)

  CID X LOC_NUM X VENDOR    target
0      000IPH5 X 0 X 104  0.235992

In [ ]:
lgb_nacir.sort_values(by='CID X LOC_NUM X VENDOR',inplace=True)
lgb_nacir.reset_index(drop=True,inplace=True)
lgb_nacir.head(1)

  CID X LOC_NUM X VENDOR    target
0      000IPH5 X 0 X 104  0.240278

In [ ]:
xgb_azer.sort_values(by='CID X LOC_NUM X VENDOR',inplace=True)
xgb_azer.reset_index(drop=True,inplace=True)
xgb_azer.head(1)

  CID X LOC_NUM X VENDOR    target
0      000IPH5 X 0 X 104  0.317326

In [ ]:
blend = pd.DataFrame()
blend['CID X LOC_NUM X VENDOR'] = lgb_ahmed['CID X LOC_NUM X VENDOR']
blend['target'] = lgb_nacir.target*0.47 + lgb_azer.target*0.29 + lgb_ahmed.target*0.14 + xgb_azer.target*0.1
blend.head(1)

  CID X LOC_NUM X VENDOR    target
0      000IPH5 X 0 X 104  0.237879

In [ ]:
blend['target'] = (blend['target']>0.475).astype('int')
blend['target'].value_counts()

0    1638732
1      33268
Name: target, dtype: int64

In [13]:
blend.to_csv('BestScore.csv',index=False)